p {
    font-family: "Science Gothic";
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

.video-title {
    font-size: 18px;
    font-weight: bold;
    font-family: "Arial";
    width: 300px;
    line-height: 25px;
    margin-bottom: 3px;
}

.video-stats {
    color: rgb(96, 96, 96);
    margin-bottom: 20px;

}

.video-youtuber {
    color: rgb(96, 96, 96);
    margin-bottom: 20px;
    width: 300px;
}

.video-paragraph {
    color: rgb(96, 96, 96);
    margin-bottom: 40px;
    width: 300px;
}

.apple-text {
    color: white;
    background-color: rgb(227, 65, 64);
    padding: 20px;
    text-align: center;
}

.apple-link:hover {
    text-decoration: underline;
    cursor: pointer;
}