.header {
    display: flex;
    justify-content: space-between;
    height: 54px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
}

.left-section {
    display: flex;
    width: 200px;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 700px;
}

.search-bar {
    display: flex;
    flex: 1;
    height: 28px;
    font-size: 14px;
    font-family: "Roboto";
    border-radius: 20px 0 0 20px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-right-style: none;
    padding: 5px 14px;
    margin-left: 32px;

}

.search-icon {
    display: flex;
    flex-shrink: 0;
    height: 40px;
    border-radius: 0 20px 20px 0;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    padding: 5px 15px 5px 15px;
}

.voice-search-icon {
    display: flex;
    flex-shrink: 0;
    height: 40px;
    padding: 7px;
    margin: 5px 18px;
    border-radius: 20px;
    border-style: none;
}

.right-section {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
}

.create-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    padding: 7px 14px;
    border-radius: 20px;
    border-style: none;
}

.plus-button {
    display: flex;
    flex-shrink: 0;
    font-size: 32px;
    font-weight: 300;
    margin-right: 6px;
}

.notifications-icon {
    display: flex;
    flex-shrink: 0;
    height: 30px;
}

.profile-picture {
    display: flex;
    flex-shrink: 0;
    height: 34px;
    margin-right: 35px;
    border-radius: 50%;
}



