.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.left-section {
    width: 200px;
    background-color: lightblue;
    align-items: center;
}

.middle-section {
    flex: 1;
    background-color: lightgreen;
    margin-left: 60px;
    align-items: center;
    max-width: 600px;
}

.right-section {
    width: 200px;
    background-color: lightcoral;
    align-items: center;
}

.search-bar {
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
}

