.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 70px;
    top: 54px;
    bottom: 0;
    left: 0;
    align-items: center;
    z-index: 1000;
}

.sidebar-item {
    height: 74px;
    width: 64px;
    position: relative;
    border-style: none;
    background-color: white;
}

.sidebar-item:hover {
    background-color: rgb(240,240,240);
    border-radius: 10px;
    cursor: pointer;
}

.sidebar-item:hover .sidebar-text {
    opacity: 1;
}

.sidebar-icon {
    height: 24px;
}

.sidebar-text {
    position: absolute;
    top: 25px;
    left: 70px;
    font-size: 12px;
    padding: 5px 5px;
    background-color: rgba(50,50,50,0.7);
    color: white;
    border-radius: 2px;
    opacity: 0;
}

