.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 6px;
    row-gap: 10px;
    margin-top: 60px;
    padding-left: 70px;
}

.video-preview {
    display: inline-block;
    margin: 6px;
    vertical-align: top;
}


.thumbnail {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 4px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 42px 1fr;
}

.channel-column {
    margin-right: 10px;
}

.channel-picture {
    width: 100%;
    border-radius: 50%;
}

.video-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
}

.video-youtuber, .video-stats {
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-bottom: 4px;
}
